/target
plots/*
.vscode/
sim_info.csv
fds_info.csv
plot_info.csv
Cargo.lock
todo.md
**.svg


#Simulation Files
fds/**/result
fds/**/test*
fds/**/heat_transfer.fds
!fds/1D/Diabatic/multiple/16/heat_transfer.fds
!fds/1D/Diabatic/multiple/16/result
fds/1D/Diabatic/multiple/16/result/*
!fds/1D/Diabatic/multiple/8/heat_transfer.fds
!fds/1D/Diabatic/multiple/8/result
fds/1D/Diabatic/multiple/8/result/*
!fds/1D/Diabatic/multiple/4/heat_transfer.fds
!fds/1D/Diabatic/multiple/4/result
fds/1D/Diabatic/multiple/4/result/*
!fds/1D/Diabatic/multiple/2/heat_transfer.fds
!fds/1D/Diabatic/multiple/2/result
fds/1D/Diabatic/multiple/2/result/*
!fds/1D/Diabatic/multiple/1/heat_transfer.fds
!fds/1D/Diabatic/multiple/1/result
fds/1D/Diabatic/multiple/1/result/*